{% macro modal(title, action, body, footer="", enctype="") %}
    <div class="modal fade" id="modalComponet" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel">{{title}}</h4>
                </div>
                <form method="post" action="{{action | safe }}" enctype="{{enctype}}">
                    <div class="modal-body">
                        <div class="form-group">
                            {{body | safe}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input name="csrf" value="{{csrf_token}}" type="hidden"/>
                        {% if footer != "" %}
                            {{ footer | safe}}
                        {% else %}
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success" style="background: #5bc0de;">Save</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div> 
{% endmacro modal %}