{% extends "layouts/app.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/assets/css/jquery.stepy.css">
    <link rel="stylesheet" href="/static/assets/css/custom.stepy.css">
    <link rel="stylesheet" href="/static/assets/css/fbwall.css"> 
    <link rel="stylesheet" href="/static/assets/css/readmore.css"> 
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="stepy-tab">
                            <ul id="default-titles" class="stepy-titles clearfi">
                                {% for position in positions %}
                                    {% set cls = '' %}
                                    {% if loop.index == 1 %}
                                        {% set cls = 'current-step' %}
                                    {% endif %}
                                    <li id="default-title-{{loop.index}}" class="{{cls}}">
                                        <div>{{asci_str_limit(value=position.position_name, max_index=3)}}</div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        {% set action_url = url_for(name='front.elections.store') %}
                        <form method="post" action="{{action_url | safe }}" id="default">
                            <input name="csrf" value="{{csrf_token}}" type="hidden"/>
                            <input type="hidden" name="election_id" value="{{election_id}}">
                            <input type="hidden" name="fingerprint_token" value="" id="fingerprint_token">
                            {% for position in positions %}
                                <fieldset  title="{{asci_str_limit(value=position.position_name, max_index=3)}}"
                                    class="step" id="default-step-{{loop.index}}">
                                    <legend> </legend>
                                    <div class="panel panel-warning">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">
                                                Vote your choice for <b>{{ position.position_name }}</b> position
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="alert alert-danger text-center hidden">
                                        <h4>Please select your candidate of choice and click next below</h4>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            {% set slot_nominees = [] %}
                                            {% if nominees[position.slot_id] %}
                                                {% set slot_nominees = nominees[position.slot_id] %}
                                            {% endif %}
                                            {% for nominee in slot_nominees %}
                                                <li class="list-group-item">
                                                    <div class="fb-user-thumb">
                                                        {% set img_url = '/static/assets/image/no_image.jpg' %}
                                                        {%if nominee.image %}
                                                            {% set img_url = '/static/uploads/' ~ nominee.image %}
                                                        {% endif %}
                                                        <img src="{{img_url}}"  alt="{{nominee.first_name}}">
                                                    </div>
                                                    <div class="fb-user-details">
                                                        <h3><a href="#" class="#">{{nominee.first_name ~' '~ nominee.last_name}}</a></h3>
                                                        <p class="more">{{nominee.description}}</p>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <p class="fb-user-status">{{nominee.description}}</p>
                                                    <div class="fb-status-container fb-border">
                                                        <div class="fb-time-action">
                                                            <input value="{{ nominee.id }}" type="radio" 
                                                                name="{{position.position_id}}" required>
                                                            <span>-</span>
                                                                Click to vote for <b>{{nominee.first_name ~' '~ nominee.last_name}}</b>
                                                            <span>-</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </fieldset>
                            {% endfor %}
                            <div class="panel-footer finish">
                                <input type="submit" class="btn btn-danger btn-sm" value="Submit Vote" />
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/assets/js/fingerprintjs.v3.iife.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/jquery.stepy.js"></script>
    <script type="text/javascript" src="/static/assets/js/stepy_form_wizard_init.js"></script>
    <script type="text/javascript" src="/static/assets/js/readmore.js"></script>
    <script type="text/javascript" src="/static/assets/js/fingerprintjs.init.js"></script>
{% endblock %}
